!!! 5
%html
	%head
		%title Account Dashboard | Dustin Boling Associates
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= javascript_include_tag :modernizr
		= csrf_meta_tags

	%body

		.row.navbar
			%a.toggle{:href=>"#", :gumby => {:trigger => "#nav1 > ul"}}
				%i.icon-menu

			%h1.four.columns.logo
				%a{:href=>"#"}DBA

			%ul.eight.columns
				%li
					%a{:href=>"#"}Features
				%li
					%a{:href=>"#"}Documentation
					.dropdown
						%ul
							%li
								%a{:href=>"#"}The Grid
							%li
								%a{:href=>"#"}UI Kit
							%li
								%a{:href=>"#"}Sass
							%li
								%a{:href=>"#"}JavaScript
							%li
								%a{:href=>"#"}Demo
				%li
					- if user_signed_in?
						= link_to 'Logout', destroy_user_session_path, :method => :delete
					- else
						= link_to 'Login', new_user_session_path
		.row
			= yield


  
